# Next.js & Build Output
.next/
out/
build/
dist/
client/dist/

# Dependencies
node_modules/
client/node_modules/
server/node_modules/
.pnp
.pnp.js

# Environment Variables & Secrets
.env
.env*.local
.env.production
.env.staging

# Logs & Temporary Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.turbo/
.vercel/

# OS & IDE Cache
.DS_Store
Thumbs.db
*.pem
.idea/
.vscode/

# SQLite & Legacy DBs
*.db
*.db-journal
*.db-wal
*.db-shm
